.plant-grid {

    display: grid;
}
.plant-widget {
    border: 2px solid #2e3b52;
    border-radius: 12px;
    background-color : #2e3b52;
    color: white;
    height: 500px;
    text-align: center;
}

.plant-widget h1 {
    color: white;
}
.plant-widget img {
    max-width:70%;
    max-height:70%;
}


body {
    background-color : #2e3b52;
    background-color : #6a5acd;
    display : grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    justify-content: center;
}